body {
    background-color: #080808;
}

img {
    width: 100%;
}

#button-panel {
    margin-top: 20px;
}

.panel-body {
    text-align: center;
}

#custom-command-form input {
    margin-bottom: 5px;
}

.tab-content {
    padding-top: 10px;
}

#result-alerts {
    margin-top: 10px;
}

input[type=checkbox] {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
}

.functionHeader {
    font-size: 16px;
}

output {
	display:inline;
	font-size:inherit;
	font-weight:bold;
}

.divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.commandBlock {
	display:none;
}

#reset-btn {
    position: relative;
    bottom: 5px;
}