body {
    background-color: #080808;
}

#button-panel {
    margin-top: 20px;
}

.panel-body {
    text-align: center;
}

#custom-command-form input {
    margin-bottom: 5px;
}

.tab-content {
    padding-top: 10px;
}

#result-alerts {
    margin-top: 10px;
}