{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default" id="button-panel">
                <div class="panel-heading">
                    LED Control
                </div>
                <div class="panel-body">

{#                    <div id="result-alerts"></div>#}

                    <div class="row" id="address-form">
                        <div class="col-sm-10 col-sm-offset-1">
                            <form id="address-form">
                                <div class="form-group">
                                    <!--<label for="address_select">Addresses</label>-->
                                    <select multiple class="form-control" id="address_select">
                                        {% for address in addresses.keys()|sort %}
                                            <option value="{{ address }}" selected>{{ address }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>

                    <ul class="nav nav-tabs nav-justified" id="command-tabs">
                        <li role="presentation" class="active"><a href="#preset-buttons" aria-controls="preset-buttons"
                                role="tab" data-toggle="tab">Presets</a></li>
                        <li role="presentation"><a href="#custom-command" aria-controls="custom-command"
                                role="tab" data-toggle="tab">Custom</a></li>
                    </ul>

                    <!-- tabs -->
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane fade in active" id="preset-buttons">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    {% for command_name in commands.keys()|sort %}
                                    <button class="btn btn-success btn-block" id="{{ command_name }}-btn">{{ command_name|title }}</button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="custom-command">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <form id="custom-command-form">
										<div class="form-group">
											Program
											<input type="number" class="form-control" id="custom-0" value="0" max="7" required>
										</div>
										<div class="form-group">
											{%for key in command_parameters%}											
												{% for innerKey in command_parameters[key] %}
													{{innerKey.name}}
													{% if innerKey.name == "Color" %}
														<img src="../static/images/colorChart.png">
													{% endif %}
													<input type="{{innerKey.type}}" class="form-control" id="custom-{{ innerKey.order }}" value="{{innerKey.default}}" min="{{innerKey.min}}" max="{{innerKey.max}}" oninput="outputUpdate(value, {{innerKey.order}})" required>
													<output for="custom-{{ innerKey.order }}" id="customValue-{{ innerKey.order }}">{{innerKey.default}}</output>
												{%endfor%}
											{%endfor%}
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-success btn-block" id="custom-submit">Custom Command</button>
										</div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="result-alerts"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.LEDcontrol = {
        getAddresses: function(){
            var addresses = [];
            var address_options = document.querySelectorAll('#address_select :checked');
            for(var i = 0; i < address_options.length; i++){
                addresses.push(address_options[i].value);
            }
            return addresses;
        },
        createCommand: function(command_name){
            var command = {};
            command.addresses = LEDcontrol.getAddresses();
            command.command_name = command_name;
            return command;
        },
        createCustomCommand: function(){
            var command = LEDcontrol.createCommand("custom");
            var custom_inputs = document.querySelectorAll('#custom-command-form input');
            command.custom_values = [];
            for(var i = 0; i < custom_inputs.length; i++){
                command.custom_values.push(custom_inputs[i].value);
            }
            return command;
        },
        sendCommand: function (command) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("POST", "/", true);
            xmlhttp.setRequestHeader("Content-type", "application/json");
            xmlhttp.onreadystatechange = function () {
                var failures = [];
                var results = {};
                if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                    results = JSON.parse(xmlhttp.responseText);
                    for (var key in results) {
                        if (results.hasOwnProperty(key)) {
                            if (results[key] === 'No response') {
                                failures.push(key);
                            }
                        }
                    }
                    if (failures.length > 0){
                        LEDcontrol.createAlerts(failures);
                    }
                }
            };
            xmlhttp.send(JSON.stringify(command));
            return xmlhttp;
        },
        createAlerts: function (failures) {
            var close_delay = 3000;
            var result_alerts = document.getElementById('result-alerts');
            var alert_text = failures.join(' & ');
            var alert_div = document.createElement("div");
            alert_div.className = "alert alert-danger fade in";
            alert_div.setAttribute("role", "alert");
            alert_div.innerHTML = '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                                   <span aria-hidden="true">&times;</span></button>\
                                   <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> \
                                   No response from ' + alert_text;
            result_alerts.appendChild(alert_div);
            window.setTimeout(function () {
                $(alert_div).alert('close');
            }, close_delay);
        }
    };

    document.addEventListener('DOMContentLoaded', function() {
        {% for command_name in commands.keys() %}
            document.getElementById("{{ command_name }}-btn").addEventListener("click", function () {
                LEDcontrol.sendCommand(LEDcontrol.createCommand("{{ command_name }}"));
            });
        {% endfor %}

        $("#custom-command-form").submit(function(event){
            if(!this.checkValidity()){
                event.preventDefault();
            }else{
                var command = LEDcontrol.createCustomCommand();
                LEDcontrol.sendCommand(command);
                event.preventDefault();
            }
        });
    });
	
	function outputUpdate(newValue, id) {
		document.querySelector('#customValue-' + id).value = newValue;
	}

</script>

{% endblock body %}