[Unit]
Description=LED Web Control Service

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/python3 /home/randy/ledcontrol/pi/server.py
WorkingDirectory=/home/randy/ledcontrol/pi
User=root
Restart=always

[Install]
WantedBy=multi-user.target
